# Variablen

In [4]:
a = 'Hello'
print(a)

Hello

In [ ]:
a = 12
print(a)

In [6]:
a = 'hello'
b = 12
a + str(b)

'hello12'

In [9]:
a = 1
#a = a + 1
a += 10
# a++
print(a)

11

# Datentypen

* Zahlen
  * Integers
  * Floating-Point Numbers
  * Decimals
  * Hexadecimale, Octale, Binare Zahlen
* Zeichenketten (Strings)
  * Hochkommas
  * Split()
  * String Indexing
  * Immutability
  * Interger => String
* Lists
  * range()
  * String => List
  * List Indexing
  * List Enumeration
* Dictionaries
  * in
  * keys(), values(), items()
* Booleans
  * True & False
* Tuples 
* Sets

# Integers

1+1

In [12]:
import math
math.factorial(1000)

402387260077093773543702433923003985719374864210714632543799910429938512398629020592044208486969404800479988610197196058631666872994808558901323829669944590997424504087073759918823627727188732519779505950995276120874975462497043601418278094646496291056393887437886487337119181045825783647849977012476632889835955735432513185323958463075557409114262417474349347553428646576611667797396668820291207379143853719588249808126867838374559731746136085379534524221586593201928090878297308431392844403281231558611036976801357304216168747609675871348312025478589320767169132448426236131412508780208000261683151027341827977704784635868170164365024153691398281264810213092761244896359928705114964975419909342221566832572080821333186116811553615836546984046708975602900950537616475847728421889679646244945160765353408198901385442487984959953319101723355556602139450399736280750137837615307127761926849034352625200015888535147331611702103968175921510907788019393178114194545257223865541461062892187960223838971476088506276862967146674697562911234082439208160153780889893964518263243671616762179168909779911903754031274622289988005195444414282012187361745992642956581746628302955570299024324153181617210465832036786906117260158783520751516284225540265170483304226143974286933061690897968482590125458327168226458066526769958652682272807075781391858178889652208164348344825993266043367660176999612831860788386150279465955131156552036093988180612138558600301435694527224206344631797460594682573103790084024432438465657245014402821885252470935190620929023136493273497565513958720559654228749774011413346962715422845862377387538230483865688976461927383814900140767310446640259899490222221765904339901886018566526485061799702356193897017860040811889729918311021171229845901641921068884387121855646124960798722908519296819372388642614839657382291123125024186649353143970137428531926649875337218940694281434118520158014123344828015051399694290153483077644569099073152433278288269864602789864321139083506217095002597389863554277196742822248757586765752344220207573630569498825087968928162753848863396909959826280956121450994871701244516461260379029309120889086942028510640182154399457156805941872748998094254742173582401063677404595741785160829230135358081840096996372524230560855903700624271243416909004153690105933983835777939410970027753472000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [13]:
5/2

2.5

In [14]:
5//2

2

In [15]:
5%2

1

In [16]:
import math
math.factorial(120)

6689502913449127057588118054090372586752746333138029810295671352301633557244962989366874165271984981308157637893214090552534408589408121859898481114389650005964960521256960000000000000000000000000000

Übung: wieviel ist 3 hoch 3?

In [17]:
3**3

27

# Floating-Point Nummer

In [18]:
1.0 + 1.2

2.2

In [19]:
1.0 / 2

0.5

In [20]:
1.2e10 / 5

2400000000.0

In [21]:
print ('Meine Nummer: %.43f' % 0.1)

Meine Nummer: 0.1000000000000000055511151231257827021181583

# Decimals

In [22]:
from decimal import *
x = Decimal(100)
y = Decimal(200)
x+y

Decimal('300')

In [25]:
Decimal('0.1')

Decimal('0.1')

In [26]:
Decimal(0.1)

Decimal('0.1000000000000000055511151231257827021181583404541015625')

# Hexadecimale, Octale, Binäre Zahlen

In [ ]:
0x111 + 0x111

In [ ]:
0b111 + 0b111

In [33]:
bin(12)

'0b1100'

# Zeichenketten (Strings)

In [34]:
'Hello, world'

'Hello, world'

In [35]:
"Hello, world"

'Hello, world'

In [37]:
"Hello "

'Hello '

In [39]:
"Hello, 'Hello'"

"Hello, 'Hello'"

In [40]:
'Hello "Hello"'

'Hello "Hello"'

In [42]:
n = "Hello, world!"
len(n)

13

In [43]:
n.split()

['Hello,', 'world!']

In [44]:
n.lower()

'hello, world!'

In [46]:
n.upper()

'HELLO, WORLD!'

In [49]:
n[-1]

'!'

In [50]:
n[0] + n[2] + n[4] + n[6] + n[8]

'Hlo o'

In [52]:
n[0] = 'T'

TypeError: 'str' object does not support item assignment

In [53]:
n[:3]

'Hel'

In [54]:
n[3:]

'lo, world!'

In [55]:
n[-1]

'!'

In [56]:
n[-3:]

'ld!'

In [57]:
n[:]

'Hello, world!'

In [58]:
n[0] = 'Z'

TypeError: 'str' object does not support item assignment

In [59]:
'Hello' + ' ' + 'World'

'Hello World'

Übung: was wäre, wenn ich ein String mit einem Nummer multipliziere?

In [61]:
' ' * 5

'     '

Suchen nach einem Muster im String

In [64]:
a = 'arr ngue kosh kon taa'

'kosh' in a

True

In [67]:
z = """Hello
Here,
Again"""
z

'Hello\nHere,\nAgain'

# Lists

In [70]:
['a', 1, 'c', 'd', [1,2], len]

['a', 1, 'c', 'd', [1, 2], <function len>]

In [71]:
[1,2,3,4,5,6,7]

[1, 2, 3, 4, 5, 6, 7]

In [73]:
range(15)
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [74]:
'Hello, world'.split()

['Hello,', 'world']

In [75]:
list('Hello, world')

['H', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd']

In [76]:
x = list(range(10))
y = list(range(100,105))

In [79]:
x * 2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
x+y

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100, 101, 102, 103, 104]

Lists können auch multidimensional sein:

In [83]:
z = [[1,2,3],
     [4,5,6],
     [7,8,9]]

z[1][0]

4

# List Indexing

In [84]:
a = 'a b c d e f'.split()
print(a)

['a', 'b', 'c', 'd', 'e', 'f']

In [85]:
a[0]

'a'

In [86]:
a[0:3]

['a', 'b', 'c']

In [87]:
a[2]

'c'

In [88]:
a[2:]

['c', 'd', 'e', 'f']

In [89]:
a[:]

['a', 'b', 'c', 'd', 'e', 'f']

In [90]:
a[:2] = [3,4]
a

[3, 4, 'c', 'd', 'e', 'f']

In [91]:
a.append('g')
a

[3, 4, 'c', 'd', 'e', 'f', 'g']

In [101]:
a.append(['z'])
a

[3,
 4,
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 ['h', 'i', 'j'],
 ['h', 'i', 'j'],
 ['h', 'i', 'j'],
 ['h', 'i', 'j'],
 'z',
 'z',
 'z',
 ['z']]

In [103]:
b = [1, 2, 3]
c = b.pop()
b

[1, 2]

In [ ]:
b

In [104]:
b.pop(1)

2

In [105]:
b[0]

1

# List Enumeration

In [109]:
a = list('Hello')
for s in a:
    print ('Buchstabe: ' + s)

Buchstabe: H
Buchstabe: e
Buchstabe: l
Buchstabe: l
Buchstabe: o

In [110]:
a

['H', 'e', 'l', 'l', 'o']

Element in einem List überprüfen (Achtung: das ist langsam!)

In [107]:
'e' in a

True

# Dictionaries

In [111]:
x = {'a': 'one', 'b': 'two', 3: 'three'}
x

{'a': 'one', 'b': 'two', 3: 'three'}

In [112]:
x['a']

'one'

In [116]:
d = {'a': 1, 'b': 'n', 'c': list('hello')}
d['a'] = 12
d

{'a': 12, 'b': 'n', 'c': ['h', 'e', 'l', 'l', 'o']}

In [115]:
d['c']

['h', 'e', 'l', 'l', 'o']

In [117]:
for x in d:
    print (x)

a
b
c

In [122]:
d

{'a': 12, 'b': 'n', 'c': ['h', 'e', 'l', 'l', 'o']}

In [121]:
for x in d.values():
    print(x)

12
n
['h', 'e', 'l', 'l', 'o']

In [123]:
for k,v in d.items():
    print(k + ' => ' + str(v))

a => 12
b => n
c => ['h', 'e', 'l', 'l', 'o']

In [125]:
print ('a' in d)

True

In [126]:
print (1 in d.values())

False

In [132]:
{'a': None, 'b': 3}

{'a': None, 'b': 3}

Element in einem List überprüfen (das ist schnell)

In [137]:
a.sort()
a

['H', 'e', 'l', 'l', 'o']

<strong>Wichtig: Dictionaries behalten die Reihenfolge des Keys nicht! </strong>

# Booleans

In [138]:
print (True == False)

False

In [140]:
True + True

2

In [141]:
print ('1' == True)

False

In [142]:
print ('0' == False)

False

In [145]:
print (False * 2)

0

In [150]:
x = False
if not x:
    print ("not True")

not True

# Tuples

In [151]:
x = (1,2)
print (x)
y = tuple([1,2,3])
print (y)

(1, 2)
(1, 2, 3)

In [154]:
a = 1
b = 2
[a,b] = [b,a]
print (a,b)

2 1

# Sets

In [155]:
x = {'a', 'b', 'c', 'd'}
x

{'a', 'b', 'c', 'd'}

In [159]:
y = set('a b c d')
y

{' ', 'a', 'b', 'c', 'd'}

In [163]:
y.add('d')
y

{' ', 'a', 'b', 'c', 'd', 'e'}

In [165]:
y.pop()

' '

In [166]:
y

{'b', 'c', 'd', 'e'}

In [ ]:
y

In [167]:
y.remove('c')

In [ ]:
y