# Pandas -- "Excel für Python, aber besser"

* Series
* DataFrame
* Daten-Auswahl
* Benutzerdefinierte Auswahl
* Data Input und Output
* Abwesende Daten
* GroupBy
* Merging, Joining, Concatenation
* Operations

Installation (in Anaconda schon inbegriffen)

    conda install pandas
oder
    
    pip install pandas

# Series

Series ist ein Datentyp von Pandas, um Reiehenfolgen-Artige Data (wie Time-Series) zu behandeln.

Series kann man aus Python List, Numpy Array, Python Dictionary erstellen.

In [ ]:
import pandas as pd

pd.Series([10, 20, 30, 40, 50])

In [ ]:
import numpy as np

pd.Series(np.array([10, 20, 30, 40, 50]))

In [ ]:
md = {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

pd.Series(md)

In [ ]:
labels = ['n', 'k', 'j', 'x', 'y']

pd.Series([10, 20, 30, 40, 50], index=labels)

Indices ermöglichen schnellen Zugriff zu Daten

In [ ]:
data = [43, 12, 54, 12, 56]
labels = ['KY', 'NY', 'OR', 'WY', 'AL']
s1 = pd.Series(data, labels)
s1

In [ ]:
data = [65, 34, 56, 23, 56]
labels = ['KY', 'WY', 'FL', 'TN', 'AL']
s2 = pd.Series(data, labels)
s2

In [ ]:
s3 = s1 + s2; s3

### Series können beliebige Daten enthalten

### Abwesende Werte in Series

In [ ]:
s3.dropna()

In [ ]:
s3.fillna(0.0)

In [ ]:
s3.fillna(s3.mean())

In [ ]:
s3.head()

In [ ]:
s3.tail()

# DataFrame

In [ ]:
from numpy.random import randn
import pandas as pd

df = pd.DataFrame(randn(5, 4), columns='A B C D'.split(), index='WY KY WS AL FL'.split()); df

### Daten-Auswahl

In [ ]:
df['A']

In [ ]:
df['A']['WY']

In [ ]:
df[['A', 'B']]

In [ ]:
df.loc['WY']

In [ ]:
df.loc['WY']['A']

Achtung, eine Falle: wenn man statt 'loc[]' versucht 'loc()' anzuwenden, werden nicht die Daten, sondern 'loc()' Object zurückgegeben

In [ ]:
df.loc['WY', 'A']

Achtung, eine Falle: ein Subset von den Daten kann man mit df.loc[] bekommen, aber nicht mit dem Auswahl aus dem DataFrame Objekt selbst, wie df[['WY', 'KY'], ['A', 'B']]

In [ ]:
df.loc[['WY', 'KY'], ['A', 'B']]

.iloc() -- Datenreihe nach Position suchen

In [ ]:
df

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[0][['A', 'B']]

# Benutzerdefinierte Auswahl

In [ ]:
df

In [ ]:
df > 0

In [ ]:
df[df > 0]

In [ ]:
df[df['D'] > 0]

In [ ]:
df[(df['D'] > 0) & (df['B'] < 0)]

Achtung: nur binäre Operatoren verwenden (|, &, ~), keine or/and! ()s sind notwendig

# Group by

In [ ]:
import pandas as pd

data = {'Company':['GOOG','FB','MSFT','MSFT','GOOG','FB'],
       'Person':['Bob','Charlie','Sam','Vanessa','Charlie','Alice'],
       'Sales':[300,100,300,224,113,351]}

df = pd.DataFrame(data)

df

In [ ]:
df.groupby('Company').mean()

In [ ]:
df.groupby('Company').mean()

In [ ]:
df.groupby('Company').std()

In [ ]:
df.groupby('Company').count()

In [ ]:
df.groupby('Company').describe()

# Operations

In [ ]:
import pandas as pd
df = pd.DataFrame({'A':[1,2,3,4],'B':[444,555,666,444],'C':['abc','def','ghi','xyz']})
df.head()

In [ ]:
df['B'].unique()

In [ ]:
df['B'].nunique()

In [ ]:
df['B'].value_counts()

In [ ]:
df['Q'] = df['B'].apply(lambda n: n**2)

In [ ]:
df

In [ ]:
del df['Q']
df

In [ ]:
df.sort_values(by='B')

# Data Input und Output

### Aus Web: pandas entziffert HTML-Tabellen selbständig

In [ ]:
tables = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html'); 
df = tables[0]

In [ ]:
df.info()

In [ ]:
df.head()

# Aus Excel

In [ ]:
pd.read_excel('Mappe1.xlsx',sheetname='Tabelle1')

# Nach Excel

In [ ]:
df.to_excel('Mappe1Neu.xlsx', sheet_name='Tabelle1')

# Aus CSV

In [ ]:
df = pd.read_csv('Mappe1.csv', sep=';', decimal=',')
df

# Nach CSV

In [ ]:
df.to_csv('Mappe1Neu.csv', sep=';', decimal=',')

# SQL

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:')
df.to_sql('data', engine)
sql_df = pd.read_sql('data', con=engine)
sql_df

In [ ]:
import sqlalchemy
engine = create_engine('mysql://pcdb:pcdb@192.168.254.158:3306/pcdb')
sql_df = pd.read_sql('select * from pcdb_puppet_factsets', con=engine)
sql_df

# JSON

In [ ]:
sql_df.to_json()

# Dictionary

In [ ]:
sql_df.to_dict()