# Pandas -- "Excel für Python"

* Series
* DataFrames
* Missing Data
* GroupBy
* Merging, Joining, Concatenation
* Operations
* Data Input and Output

Installation (in Anaconda schon inbegriffen)

    conda install pandas
oder
    
    pip install pandas

Series ist ein Datentyp von Pandas, um Reiehenfolgen-Artige Data (wie Time-Series) zu behandeln.

Series kann man aus Python List, Numpy Array, Python Dictionary erstellen.

In [19]:
import pandas as pd

pd.Series([10, 20, 30, 40, 50])

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [8]:
import numpy as np

pd.Series(np.array([10, 20, 30, 40, 50]))

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [10]:
md = {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

pd.Series(md)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [13]:
labels = ['n', 'k', 'j', 'x', 'y']

pd.Series([10, 20, 30, 40, 50], index=labels)

n    10
k    20
j    30
x    40
y    50
dtype: int64

Indices ermöglichen schnellen Zugriff zu Daten

In [21]:
data = [43, 12, 54, 12, 56]
labels = ['KY', 'NY', 'OR', 'WY', 'AL']
s1 = pd.Series(data, labels)
s1

KY    43
NY    12
OR    54
WY    12
AL    56
dtype: int64

In [27]:
data = [65, 34, 56, 23, 56]
labels = ['KY', 'WY', 'FL', 'TN', 'AL']
s2 = pd.Series(data, labels)
s2

KY    65
WY    34
FL    56
TN    23
AL    56
dtype: int64

In [32]:
s1 + s2

AL    112.0
FL      NaN
KY    108.0
NY      NaN
OR      NaN
TN      NaN
WY     46.0
dtype: float64